@import "../../styles/mixins";
@import "../../styles/variables";

.hero {
    padding-top: 60px;
    @include respondMax("tablet") {
        padding-top: 70px;
    }
    &_text {
        width: 95%;
        margin: 0 auto;
        &_p {
            width: 600px;
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            clip-path: polygon(0 0, 51% 0, 100% 0);
            @include respondMax("tablet") {
                font-size: 35px;
                width: 70%;
                line-height: 35px;           
            }
            @include respondMax("mobile") {
                font-size: 25px;
                width: 70%;
                line-height: 25px;
            }
        }
    }
    &_drive {        
        background-image: url(/images/city.jpg);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        padding-top: 70px;
        overflow: hidden;
        clip-path: polygon(0 0, 51% 0, 100% 0);
        @include center (95%, 100%);
        @include respondMax("tablet") {
            @include center (100%, 300px);
        }
        @include respondMax("mobile") {
            @include center (100%, 190px);
        }

        p {
            font-size: 700px;
            font-weight: 700;
            font-family: 'Bebas Neue', cursive;
            line-height: 70%;
            @include respondMax("tablet") {
                font-size: 370px;
            }
            @include respondMax("mobile"){
                font-size: 190px;
                line-height: 40%;

            }
        }
    }
    &_slides {
        display: block;
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 25px;
        &_wrapper {
            display: flex;
            width: 200%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            animation: marquee 20s linear infinite;
            white-space: nowrap;

            @keyframes marquee {
                0% {
                    left: 100%;
                }
            
                100% {
                    left: -100%;
                }
            }
            span {
                padding: 0 25px;
                font-size: 13px;
                letter-spacing: 1px;
            }
        }
    }
}