.hero {
    padding-top: 60px;
    &_p {
        width: 600px;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        clip-path: polygon(0 0, 51% 0, 100% 0);
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    &_drive {        
        background-image: url(/images/city.jpg);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        padding-top: 70px;
        clip-path: polygon(0 0, 51% 0, 100% 0);

        p {
            font-size: 700px;
            font-weight: 700;
            font-family: 'Bebas Neue', cursive;
            line-height: 70%;
        }
    }
}