@import "../../styles/variables";
@import "../../styles/mixins";
.features {
    padding: 10px 0;
    overflow: hidden;
    
    &_content {
        display: flex;
        justify-content: space-between;
        padding-top: 70px;
        transition: all 1.5s;
        @include respondMax("mobile") {
            flex-direction: column;
        }

        &_header {
            width: 32%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 30px;
            border-bottom: 2px solid $col-primary;
            @include respondMax("mobile") {
                flex-direction: row;
                width: 95%;
            }

        }
        &_p {
            width: 65%;
            letter-spacing: 1px;
            font-size: 18px;
            line-height: 30px;
            padding-bottom: 30px;
            border-bottom: 2px solid $col-primary;
            @include respondMax("mobile") {
                padding-top: 30px;
                width: 95%;
            }
        }
    }
}