@import "../../styles/mixins";
@import "../../styles/variables";

.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 20;

}
