@import "./styles/mixins";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 5px;
  background: #0a0a0b;
}

body::-webkit-scrollbar:horizontal {
  display: none;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
  overflow-x: none;
}

body {
  background: inherit;
  color: $col-primary;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100%;
}
.cursor {
  position: absolute;
  left: 10px;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  background: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 20;
  transition: width 0.5s, height 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
li:hover ~ .cursor {
  transform: scale(5);
}
.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}

figure {
  width: 100%;
  overflow: hidden;

  img {
    overflow: hidden;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}

.app {
  position: relative;
  z-index: 30;
  padding: 25px 0 0;
  opacity: 0;

  @include respondMax("mobile") {
    padding: 15px;
  }
}
.heroSlide {
  clip-path: polygon(0 0, 51% 0, 100% 0);
}

//preloader
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  -webkit-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0.5rem;
  content: attr(data-progress-text);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  line-height: 1;
  text-align: right;
  color: $col-primary;
  @include respondMax("mobile") {
    font-size: 3rem;
  }
}

.loading__text {
  letter-spacing: 25px;
  font-weight: 700;
  position: relative;
  top: -50px;
  pointer-events: none;
  user-select: none;
  color: $col-primary;
}
